@font-face {
    font-family: 'LINESeed Sans';
    src: url('../css/fonts/LINESeedSans/Web/WOFF/LINESeedSans_W_Rg.woff') format('woff');
    src: url('../css/fonts/LINESeedSans/Web/WOFF2/LINESeedSans_W_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeed Sans';
    src: url('../css/fonts/LINESeedSans/Web/WOFF/LINESeedSans_W_Bd.woff') format('woff');
    src: url('../css/fonts/LINESeedSans/Web/WOFF2/LINESeedSans_W_Bd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Gogol;
    src: url("../css/fonts/PT/Gogol/gogol_regular.otf");
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../css/fonts/lora/Lora-Regular.woff') format('woff');
    src: url('../css/fonts/lora/Lora-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeed Sans';
    src: url('../css/fonts/lora/Lora-Bold.woff') format('woff');
    src: url('../css/fonts/lora/Lora-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
