@import "variables.css";
@import "fonts.css";

/* Общие стили */
body {
    font-family: "LINESeed Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

html, body{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

h1 , h2, h3, h4 {
    margin: 0;
}


/* Контейнер */


/* Header */
.container {
    max-width: 1370px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

.header {
    max-width: 1520px;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

}
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-light);
    backdrop-filter: blur(60px);
    padding: 5px 5px 5px 5px;
    border-radius: 32px;
}
.header__nav-menu {
    list-style: none;
    display: flex;
    gap: 16px;
}
.header__nav-menu a {
    color: var(--primary);
    text-decoration: none;
}
.header__nav-menu, .header__nav-auth {
    width: 35%;
}
.header__nav-auth {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}
.header__nav-auth button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: none;
}
.header__nav-auth button:first-child {
    background: var(--primary);
    color: var(--primary-dark);
    width: 40%;
    border-radius: 32px;
    transition: var(--primary-transition);
    cursor: pointer;
}
.header__nav-auth button:last-child {
    color: var(--primary-dark);
    height: 48px;
    background: var(--primary);
    max-width: 188px;
    width: 100%;
    border-radius: 32px;
    transition: var(--primary-transition);
    cursor: pointer;
}
.header__nav-auth button:first-child:hover {
    background: var(--primary-ultra-dark);
}

.header__nav-auth button:last-child:hover {
    background: var(--primary-ultra-dark);
}


.header__nav-logo {
    position: relative;
    width: 30%;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header__nav-icon:hover .header__nav-cart-count {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    position: static; /* Возвращаем в нормальный поток */
    transition-delay: 0.2s; /* Задержка для эффекта появления */
}


.header__nav-icon:hover{
    width: 200px;
    justify-content: space-around;
}

.header__nav-icon:hover img{
    display: none;
}

.header__nav-icon:hover span{
    color: var(--main-color);
    display: block;
}

.header__nav-icon:hover .cart{
    display: block;
    width: 22px;
    height: 22px;
}

.header__nav-logo img {
    width: 13px;
    height: 26px;
}

.cart{
    display: none;
}


.header__nav-icon {
    width: 48px;
    height: 48px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    transition: var(--primary-transition);
}
.header__nav-icon-cart-count {
    display: none;
}

.header__nav-icon img {
    transition: var(--primary-transition);
}


.header__nav-cart-count{
    opacity: 0;
    visibility: hidden;
    transition: inherit;
    white-space: nowrap;
    transform: translateX(-20px);
    position: absolute;
    left: 50px; /* Позиционируем справа от иконки */
}

.hero {
    background-image: url("../images/Static/Main.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
}
.hero .container {
    height: 100%;
}
.hero__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--primary);
    height: 100%;
}
.hero__title {
    font-weight: 700;
    letter-spacing: 0.015em;
    margin-top: 5vw;
    font-size: 96px;
    text-align: center;
    line-height: 1em;
    font-family: "Lora", serif;
}
.hero__info {
    max-width: 465px;
    padding: 32px 48px;
    border-radius: 32px;
    background-color: var(--primary-light);
    backdrop-filter: blur(30px);
    font-size: 16px;
    margin-top: -20px;
}
.hero__social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: -8px;
    position: relative;
    z-index: 2;
    padding: 0;
}
.hero__social a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__btn {
    border-radius: 52px;
    margin-top: 120px;
    font-size: 32px;
    height: 80px;
    max-width: 382px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    transform: translateZ(0); /* Аппаратное ускорение */
    transition:
            transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 0.3s ease;
    cursor: pointer;
    border: none;
    background: linear-gradient(45deg, #2C2C2C, #404040);
    color: var(--white-color);
    overflow: visible; /* Разрешаем звёздам выходить за пределы кнопки */
    perspective: 1000px;
}

.hero__btn:active {
    transform:
            translateY(8px)
            scale(0.95)
            rotateX(15deg);
    box-shadow:
            0 2px 4px rgba(0,0,0,0.2),
            inset 0 -4px 6px rgba(0,0,0,0.1);
}

.hero__btn.active {
    transform:
            translateY(8px)
            scale(0.95)
            rotateX(15deg);
    box-shadow:
            0 4px 8px rgba(0,0,0,0.2),
            inset 0 -2px 4px rgba(0,0,0,0.1);
}

.hero__btn::before,
.hero__btn::after {
    transition: all 0.3s ease;
}


.hero__btn:active::after {
    transform: translateY(2px); /* Дополнительное "проваливание" */
    box-shadow: 0 -1px 2px #A15A19 inset;
}

/* Блокировка стандартной анимации при disabled */
.hero__btn:disabled {
    pointer-events: none;
}
.hero__btn:disabled:active {
    transform: none !important;
}

.hero__btn:active::before {
    background: radial-gradient(61.8% 121.52% at 50.1% 100%, #EEAA6C 0%, #BA712E 0%, #A15A19 100%);
    transition: background 0.3s ease;
}

.stars-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* Максимальный приоритет */
}

.star {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('../images/icons/star.svg') no-repeat center/contain;
    opacity: 0;
    filter: drop-shadow(0 0 8px rgba(255,215,0,0.5));
    animation: explode 1.2s ease-out forwards;
}

@keyframes explode {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0; /* Звёзды исчезают в конце */
        transform:
                translate(var(--move-x), var(--move-y))
                rotate(var(--rotate));
    }
}

.hero__btn span {
    position: relative;
    z-index: 2;
    font-style: italic;
    text-transform: uppercase;
    font-family: "Geologica", serif;
    background-image: linear-gradient(360deg, rgba(255, 244, 234, 0.9) 20.69%, rgba(223, 154, 90, 0.9) 172.41%);
    -webkit-background-clip: text;
    color: transparent;
}
.hero__btn::before {
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 52px;
    z-index: 1;
    background-color: var(--primary-dark);
    backdrop-filter: blur(18.4543266296px);
    box-shadow: 0px 3.83px 24.12px 0px rgba(17, 0, 44, 0.2509803922);
}
.hero__btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 52px;
    z-index: 1;
    background: radial-gradient(61.8% 121.52% at 50.1% 100%, #EEAA6C 0%, #BA712E 48.5%, #A15A19 100%);
    box-shadow: 0 -3px 1px 0 #A15A19 inset;
}

.blog {
    background: var(--primary-dark);
    padding: 72px 0;
}

.blog__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog__info {
    max-width: 484px;
    width: 100%;
    color: var(--white-color);
}
.blog__info-wrap {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.blog__info h2 {
    font-size: 24px;
    max-width: 20ch;
    letter-spacing: 0.015em;
    line-height: 1em;
    margin-bottom: 8px;
}
.blog__info p {
    max-width: 30ch;
    margin-bottom: 8px;
}
.blog__info .swiper-button-next {
    position: relative;
    width: 96px;
    height: 96px;
    border-radius: 16px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    left: unset;
    right: unset;
}
.blog__info .swiper-button-next::after {
    content: "";
    background-image: url("images/icons/RightCoin.svg");
}

.swiper-button-next button{
    border: none;
    background: none;
    cursor: pointer;
}

.swiper-button-next::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%; /* Увеличиваем область градиента */
    height: 150%;
    background: radial-gradient(
            circle at center,
            #EEAA6C 0%,
            #BA712F 100%
    );
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition:
            opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
            transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 0;
    filter: blur(20px);
    border-radius: 50%;
}

.swiper-button-next:hover {
    transform: translateY(-2px);
}


.swiper-button-next:hover::before{
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.8);
}

.swiper-button-next:active {
    background:#955922;
}

.swiper-button-next:active::before {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: none;
}

.swiper-button-next:hover button {
    color: var(--main-color);
}

.swiper-button-next:active button{
    color: #7A481A;
}

.blog__slider {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 0 20px;
}

.blog__slider-item {
    border-radius: 32px;
    max-width: 228px;
    max-height: 270px;
    position: relative;
    overflow: hidden;
}

.blog__slider-item::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0) 53.7%, rgba(10, 10, 10, 0.7) 100%);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.blog__slider-item span {
    position: absolute;
    bottom: 24px;
    left: 24px;
}
.blog__slider img {
    min-height: 270px;
    max-height: 270px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
    overflow: hidden;
}

/* Обучение */
.training {
    background: #fff;
    padding: 40px 0;
    text-align: center;
}

.training-blocks {
    display: flex;
    justify-content: space-around;
}

.block {
    padding: 20px;
    background: #e74c3c;
    color: #fff;
    border-radius: 5px;
    width: 30%;
}

/* Магазин */

.shop {
    text-align: center;
    background: #b8652b;
    padding: 20px;
}

.shop-title {
    font-size: 96px;
    color: #fff;
}

.shop-categories {
    display: flex;
    justify-content: center;
}

.category {
    background: var(--primary);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 32px;
    font-size: 24px;
    font-family: "LINESeed Sans", sans-serif;
    color: var(--main-color);
    transition: var(--primary-transition);
    transform: scale(1);
}

.category.active {
    font-size: 24px;
    font-family: "LINESeed Sans", sans-serif;
    background: transparent;
    border: 1px solid;
    color: var(--text-color);
    transform: scale(1.1);
    padding: 10px 25px;
}

.shop-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    padding: 15px 0;
}

.product {
    border-radius: 10px;
    text-align: center;
}

.product-image {
    border-radius: 10px;
}

.product-name {
    text-align: start;
    max-width: 255px;
    font-size: 16px;
}

.product-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.panel-price {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    min-height: 52px; /* чтобы не прыгал блок */
    overflow: hidden;
}

/* Цена */
.product-price {
    font-weight: bold;
    color: var(--text-color);
    background: #955922;
    padding: 11px 30px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
    translate: 30%;
    border-radius: 32px;
}

.old-price {
    text-decoration: line-through;
    font-size: 12px;
    color: #7A481A;
    font-weight: normal;
    margin-right: 15px;
}


/* Скрытая цена */
.product-price.hidden {
    opacity: 0;
    transform: scale(0.9) translateX(-10px);
    pointer-events: none;
}

/* Кнопка купить */
.buy-button {
    border: none;
    cursor: pointer;
    border-radius: 32px;
    padding: 15px 30px;
    background: var(--text-color);
    color: var(--main-color);
    transition: all 0.4s ease;
    z-index: 2;
    position: relative;
}

/* Анимация превращения в "в корзине" */
.buy-button.in-cart {
    background: #955922;
    color: #7A481A;
    padding: 15px 70px; /* расширяем кнопку */
    transform: translateX(-40px); /* сдвигаем на место цены */
}

.pagination {
    margin-top: 20px;
}

.page {
    background: transparent;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    color: var(--text-color);
    font-size: 24px;
}

.page.active {
    color: #955922;
}

/* Цены */

.pricing {
    text-align: center;
    background: #f5e3d0;
    padding: 40px;
}

.pricing-title{
    font-size: 64px;
    font-weight: bold;
    color: #b8652b;
}

.pricing-grid {
    display: grid;
    gap: 15px;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
}

.pricing-grid hr{
    border: 1px solid var(--text-color);
    margin: 0;
}


.lesson-card {
    background: var(--main-color);
    border-radius: 32px;
    padding: 40px 15px;
    width: 280px;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Geologica";
}

.lesson-header {
    margin-bottom: 20px;
    display: flex;
    gap: 15px
}

.lesson-count {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
}

.lesson-label {
    opacity: 0.5;
    color: #FFF9F4;
    padding-top: 15px;
    font-size: 18px;
}

.lesson-price {
    text-align: start;
    font-size: 51px;
    font-weight: bold;
    margin: 20px 0;
}

.lesson-details {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.lesson-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
}

.lesson-detail::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
}

.lesson-detail_count{
    font-size: 14px;
    opacity: 0.5;
    color: #FFF9F4;
}

.lesson-detail.duration::before {
    background: url('../images/icons/clock.svg') no-repeat center/contain; /* или base64 */
}
.lesson-detail.total::before {
    background: url('../images/icons/coins.svg') no-repeat center/contain;
}
.lesson-detail.per-lesson::before {
    background: url('../images/icons/educationCap.svg') no-repeat center/contain;
}

.lesson-button {
    background: white;
    color: #8c4a2f;
    border: none;
    padding: 12px;
    border-radius: 32px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.lesson-button:hover {
    background: #f0d5bd;
}

.plan-button {
    background: var(--white-color);
    color: var(--main-color);
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 32px;
    width: 100%;
    font-family: "Geologica";
}

.plan-button.active{
    background: #955922;
    color: #7A481A;
}


.contact-form-wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 65px;
    grid-template-rows: repeat(2, auto) 1fr;
    gap: 5px;
    background:  var(--main-color);
    padding: 30px 70px;
    border-radius: 32px;
    width: 470px;
    align-items: center;
}
.form-container input {
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    border-radius: 32px;
}

.submit-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%; /* Увеличиваем область градиента */
    height: 150%;
    background: radial-gradient(circle at center, #EEAA6C 0%, #BA712F 100%);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition:
            opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
            transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 0;
    filter: blur(20px);
    border-radius: 50%;
}

.submit-button span {
    display: block;
    width: 22px;
    height: 40px;
    background-color: currentColor;
    -webkit-mask: url("../images/icons/RightCoin.svg") no-repeat center;
    mask: url("../images/icons/RightCoin.svg") no-repeat center;
    transition: color 0.3s ease;
    color: var(--primary-color);
}

.submit-button:hover span {
    color: var(--main-color);
}

.submit-button:active span {
    color: #7A481A;
}

.submit-button{
    position: relative;
    grid-row: 1 / span 2;
    grid-column: 2;
    background: var(--text-color);
    width: 96px;
    aspect-ratio: 1/1;
    padding: 10px;
    cursor: pointer;
    border-radius: 16px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-button:hover {
    transform: translateY(-2px);
}

.submit-button:hover::before {
    opacity: 0.9;
    transform: translate(-50%, -50%) scale(1.8);
}

.submit-button:active {
    background:#955922;
}

.submit-button:active::before {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: none;
}

.submit-button span {
    display: block;
    width: 22px;
    height: 40px;
    background-color: currentColor; /* Цвет будет браться из свойства color */
    -webkit-mask: url("../images/icons/RightCoin.svg") no-repeat center;
    mask: url("../images/icons/RightCoin.svg") no-repeat center;
    transition: color 0.3s ease;
    color: var(--primary-color);
}

.submit-button:hover span {
    color: var(--main-color);
}

.submit-button:active span {
    color: #7A481A;
}


.disclaimer {
    grid-column: 1 / span 2;
    font-size: 12px;
    color: #E4DACF;
    text-align: center;
    padding: 5px 10px;
}

/* Отзывы */

.reviews {
    padding: 60px 0;
    border-radius: 24px;
    margin: 40px 0;
    overflow: hidden;
}

.reviews-container {
    position: relative;
    background: var(--main-color);
    max-width: 1350px;
    height: auto;
    padding: 70px 175px;
}

.reviews-container hr{
    border: 1px solid var(--text-color);
    margin: 50px 0;
}

.reviews-info{
    display: flex;
    justify-content: space-between;
}


.reviews-grade{
    display: flex;
    justify-content: space-between;
}

.grade.active .star-icon {
    fill: var(--main-color); /* Active color */
}

.grade:not(.active) .star-icon path {
    fill: var(--main-color);

}

.reviews-title {
    color: #fff;
    font-size: 94px;
}

.review-author{
    font-family: Gogol;
    font-size: 32px;
    font-weight: 500;
    margin-top: 15px;
}

.reviews-subtitle {
    margin: 0;
    color: var(--text-color);
}

.reviews-subtitleSecond{
    max-width: 415px;
    letter-spacing: 0.1em;
    color: var(--white-color);
}

.swiper-wrapper{
    max-width: 1500px;
}


.reviews-slide  {
    position: relative;
    width: 310px !important;
    height: 400px !important;
    background: #fff1ed;
    border: 1px solid #b8652b;
    border-radius: 45px;
    padding: 20px;
    font-family: serif;
}

.reviews-slide:before{
    position: absolute;
    background: url("../images/Static/UserFaceReview.png") no-repeat center/cover;
    content: "";
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    transform: translate(-20px, -20px);
    opacity: 0;
}

.reviews-slide:hover::before{
    opacity: 1;
}
/* FAQ */
.faq {
    background: #fff;
    padding: 40px 0;
    text-align: center;
}

.faq {
    text-align: left;
}

.faqTable{
    max-width: 900px;
    margin: 0 auto;
}

.faq-title {
    font-size: 94px;
    font-weight: bold;
    color: #b8652b;
    margin: 40px 0;
}

.faq-list {
    border-top: 2px solid #b8652b;
}

.faq-item {
    border-bottom: 1px solid #b8652b;
    cursor: pointer;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.faq-question{
    color: #b8652b;
}

.faq-icon{
    background: url("../images/icons/ScrollHide.svg") no-repeat center/cover;
    display: block;
    width: 36px;
    aspect-ratio: 1/1;
}

.faq-icon {
    transition: transform 0.3s ease;
}

.faq-icon.rotated {
    transform: rotate(83deg);
}

.faq-answer {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    font-size: 0.9rem;
    color: #b8652b;
    margin-top: 5px;
}

.faq-answer.active {
    max-height: 200px; /* Достаточно для одного-двух абзацев */
    opacity: 1;
}

.contact {
    background: #b8652b;
    color: white;
    text-align: center;
    padding: 20px;
}

.contact-button {
    background: white;
    color: #b8652b;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Footer */
footer {
    background: var(--main-color);
    padding: 20px 0;
    color: #fff;
}

footer hr{
    border: 1px solid var(--text-color);
}

.Contact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contactQuestions{
    text-align: start;
}

.contactTelegram{
    background: var(--white-color);
    width: 289px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: 32px;
    gap: 15px;
    justify-content: space-evenly;
    align-items: center;
}

.contactTelegram p{
    color: var(--text-color);
}

.contactTelegram a{
    display: block;
    background: url("../images/icons/TelegramMentor.svg") no-repeat;
    width: 20px;
    aspect-ratio: 1 / 1;
}

.footerDisclaimer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.socialMediaFooter{
    column-gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksFooter{
    gap: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.linksFooter a{
    color: var(--white-color);
}


.vkFooter{
    display: block;
    width: 24px;
    aspect-ratio: 1/1;
    background: url("../images/icons/VkFooter.svg") no-repeat center;
}

.TelegramFooter{
    display: block;
    width: 24px;
    aspect-ratio: 1/1;
    background: url("../images/icons/TelegrammFooter.svg")no-repeat center;
}

.footer-OtherInfo{
    max-width: 654px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay.active {
    display: flex;
}

.modal-form-container {
    position: relative;
    background: var(--main-color);
    padding: 30px 70px;
    border-radius: 32px;
    width: 470px;
    animation: modalAppear 0.3s ease-out;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 65px;
    grid-template-rows: repeat(2, auto) 1fr;
    gap: 5px;
}

.grid-container input{
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    border-radius: 32px;
}


@keyframes modalAppear {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-text {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-family: "Lora", serif;
}

.modal-text-error{
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-family: "Lora", serif;
}


@media (max-width: 1280px) {
    .container {
        max-width: 750px;
        padding: 0 20px;
    }

    /* Header */
    .header {
        top: 30px;
    }

    .header__nav-menu {
        display: none;
    }

    .header__nav-logo {
        justify-content: flex-start;
    }

    .header__nav-auth {
        width: 40%;
        gap: 10px;
    }

    /* Hero */
    .hero__title {
        font-size: 60px;
        margin-top: 20vw;
    }

    .hero__info {
        padding: 20px 30px;
        font-size: 14px;
        margin-top: -12px;
    }

    /* Блок обучения */
    .levels {
        grid-template-columns: 1fr;
    }

    .offer-block_tags {
        padding: 60px 30px;
    }

    .offer-block a {
        font-size: 40px;
    }

    .blog__info{
        width: auto;
    }

    .blog__slider {
        max-width: 100%;
    }

    /* Магазин */

    .shop-grid {
        gap: 30px;
        justify-content: center; /* Центрирует карточки в сетке */
    }

    .product {
        box-sizing: border-box;
        width: 100%;
        max-width: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .product-image {
        width: 100%;
        height: 260px;
        display: block;
    }

    .category {
        font-size: 20px;
        padding: 8px 16px;
    }


    /* Цены */
    .pricing-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.reviews-info{
    flex-wrap: wrap;
}

.reviews-container{
    padding: 70px 30px;
}



/* Для мобильных устройств */

@media (max-width: 750px) {
    .levels {
        grid-template-columns: 1fr !important; /* Форсируем 1 колонку */
        gap: 30px; /* Увеличиваем промежуток между элементами */
    }

    .offer-block_Mid {
        grid-column: 1; /* Сбрасываем span для мобильной версии */
    }

    .offer-block,
    .offerDescriptionBlock,
    .offer-block_tags {
        grid-column: 1 / -1; /* Занимаем всю ширину */
        width: 100%;
        max-width: 100%;
    }

    /* Дополнительные корректировки позиционирования */
    .offer-block_tags {
        padding: 40px 20px;
        order: -1; /* Перемещаем блок вверх */
    }

    .offerDescriptionBlock p {
        margin: 30px 0;
    }
}

.blog__slider {
    padding: 0 15px;
}

.blog__slider-item {
    min-width: 240px;
    transform: scale(0.95);
}

.swiper-slide-active .blog__slider-item {
    transform: scale(1);
}

/* Мобильные устройства (650px - 320px) */
@media (max-width: 650px) {
    /* Общие стили */
    .container {
        max-width: 100%;
        padding: 0 15px;
    }

    /* Header */
    .header {
        top: 20px;
    }

    .header__nav {
        padding: 10px;
    }

    .header__nav-auth button {
        font-size: 12px;
        padding: 8px 12px;
    }

    .header__nav-logo span {
        display: none;
    }

    /* Hero */
    .hero__title {
        font-size: 48px;
        line-height: 1.2;
    }

    .hero__btn {
        font-size: 24px;
        height: 60px;
        max-width: 280px;
    }

    /* Блок обучения */

    .offer-tags{
        flex-wrap: wrap;
    }

    .offer-block {
        padding: 40px 15px;
    }

    .offer-block a {
        font-size: 32px;
    }

    .offerDescriptionBlock {
        padding: 15px;
    }

    .blog__wrap{
        flex-wrap: wrap;
        gap: 15px;
    }


    .blog__info-wrap {
        width: 100%;
        justify-content: start;
    }

    .pricing-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Магазин */
    .shop-title {
        font-size: 64px;
    }

    .shop-categories {
        flex-direction: column;
        gap: 10px;
    }

    .category {
        width: 100%;
        font-size: 18px;
    }

    .product-footer{
        flex-direction: column;
    }

    /* Формы */
    .form-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }

    .form-container input {
        width: 100%;
    }

    .submit-button {
        grid-row: auto;
        grid-column: auto;
        width: 100%;
        height: 50px;
        margin-top: 15px;
    }

    /*Магазин*/

    .shop-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    /* Модальные окна */
    .modal-form-container {
        width: 91%;
        padding: 20px;
    }

    .grid-container{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .grid-container input{
        padding: 15px 10px;
    }

    .modal-text {
        font-size: 16px;
    }

    .modal-text-error {
        font-size: 24px;
    }

    /* Отзывы */
    .reviews-container {
        padding: 30px 15px;
        height: auto;
    }

    .reviews-title {
        font-size: 48px;
    }

    /* FAQ */
    .faq-title {
        font-size: 64px;
    }

    .faq-item {
        padding: 15px 0;
    }

    /* Футер */
    .Contact {
        flex-direction: column;
        gap: 30px;
    }

    .contactTelegram {
        width: 100%;
    }
}


/* Дополнительные адаптации для маленьких экранов */
@media (max-width: 480px) {
    .hero__title {
        font-size: 36px;
        margin-top:35vw;
    }

    .hero__btn {
        font-size: 20px;
        height: 50px;
        max-width: 240px;
    }

    .offer-block a {
        font-size: 28px;
    }

    .pricing-title{
        font-size: 34px;
    }

    .shop-title {
        font-size: 48px;
    }

    .pricing-plan {
        padding: 30px 20px;
    }
}

/* Стили для кнопок переключения */
.burger-toggle{
    display: none;
    color: var(--primary-dark);
    height: 48px;
    background-color: var(--primary);
    max-width: 188px;
    width: 100%;
    border-radius: 32px;
    transition: var(--primary-transition);
    border: none;
    cursor: pointer;
}

.burger-auth-toggle {
    display: none; /* По умолчанию скрыты */
    background: var(--primary-light);
    color: var(--primary-dark);
    font-size: 16px;
    border-radius: 32px;
    border: none;
    cursor: pointer;
}

/* Стили для иконки профиля */
.burger-auth-toggle img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--primary-light);
}

/* Стили для выпадающих меню */
.burger-menu,
.burger-auth-menu {
    display: none;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 180px;
    background: var(--primary);
    border-radius: 24px;
    padding: 24px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    z-index: 999;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(-10px);
    transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}

.burger-auth-menu{
    left: auto;
    right: 0;
}


.burger-menu ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.burger-menu a{
    color: var(--main-color);
    text-decoration: none;
}

.burger-menu.active,
.burger-auth-menu.active {
    display: flex;
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* Крестик закрытия */
.close-burger {
    margin: 0 auto;
    background: transparent;
    border: none;
    align-self: flex-end;
    font-size: 36px;
    color: var(--primary-dark);
    cursor: pointer;
}


/* Кнопки внутри авторизационного меню */
.burger-auth-menu button {
    width: 100%;
    background:#7A481A;;
    color: var(--primary-dark);
    padding: 10px 16px;
    border-radius: 32px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* Адаптивность */
@media (max-width: 1280px) {
    .burger-menu,
    .burger-auth-menu {
        display: block;
    }


    .burger-toggle,
    .burger-auth-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__nav-menu,
    .header__nav-auth {
        display: none;
    }
}

