:root {
    --white-color: #FFFF;
    --text-color: #EEAA6C;
    --main-color: #BA712F;
    --primary-color: #8D4E2E;
    --accent-color: #E07A5F;
    --primary-light: #EEAA6C33;
    --primary: #EEAA6C;
    --primary-dark: #BA712F;
    --primary-ultra-dark: #955922;
    --primary-transition: all 0.5s ease;
    }

