@font-face {
    font-family: 'LINESeed Sans';
    src: url('../css/fonts/LINESeedSans/Web/WOFF/LINESeedSans_W_Rg.woff') format('woff');
    src: url('../css/fonts/LINESeedSans/Web/WOFF2/LINESeedSans_W_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeed Sans';
    src: url('../css/fonts/LINESeedSans/Web/WOFF/LINESeedSans_W_Bd.woff') format('woff');
    src: url('../css/fonts/LINESeedSans/Web/WOFF2/LINESeedSans_W_Bd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}